::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
}

.bg-lightgreen {
    background-color:  #e1f8f6 !important;
}
.bg-green {
    background-color:  #58af9b !important;
}
